# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv
.DS_Store
panel_pcb.kicad_pro
panel_pcb.kicad_pcb
panel_gerber/netlist.ipc
panel_gerber/gerber.zip
panel/hypjolin_panel_cutout.fpd
panel-jlcpcb/
main_pcb.kicad_pro
main_pcb.kicad_pcb
main_gerber/
main-jlcpcb/
jlcpcb-main/
jlcpcb-panel/
*.icloud
*.zip
*.gbr
*.drl
*jlcpcb/
tt_jacks/*
old/*
manual/source/*
\#auto_saved_files\#